.htaccess
php53.cgi
include/ost-config.php
setup/cli/modules/importer
*.sw[a-z]
.DS_Store
.vagrant
._.DS_Store
Vagrantfile
# VS Code workspace files
*.code-workspace

# Staging directory used for packaging script
stage

# Ignore packaged plugins and language packs
*.phar

# Ignore mPDF temp files
include/mpdf/ttfontdata
include/mpdf/tmp
nbproject/
!/include/plugins/audit.phar
!/include/plugins/auth-2fa.phar
!/include/plugins/storage-fs.phar
!/include/plugins/storage-s3.phar
!/include/plugins/auth-oauth2.phar
!/include/plugins/time_recording.phar
!/include/plugins/auth-password-policy.phar
!/include/plugins/auth-passthru.phar
!/include/plugins/auth-ldap.phar
